.reveal .slide-logo {
  height: 90px !important;
  width: 180px !important;
  max-width: unset !important;
  max-height: unset !important;
}
.title {
  font-size: 75px !important;
  color: black !important;
}

.quarto-title-author-name {
  font-size: 50px;
  color: red !important;
}

.center-y {
          margin: 0;
          position: absolute;
          top: 30%;
}

.caption{
  text-align: center;
}
